<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/example/hellodsl/HelloDsl"
			class = "org.xtext.example.hellodsl.helloDsl.HelloDslPackage"
			genModel = "model/generated/HelloDsl.genmodel" />
	</extension>
</plugin>
